body{
  background-color: white;
}

h1{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

h2{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:black;
  font-size: 26px;
  text-align: left;
  margin-left: 300px;
}
p{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:black;
  font-size: 16px;
  text-align: left;
  margin-left: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
}

header{
  padding: 2px;
  text-align: center;
  background: #0066ff;
}

.login {
  text-align: center;
  margin-top: 50px;
}
form {
  display: inline-block;
}

.form_title {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: black;
  font-size: 24px;
  margin-right: 8px;
}

.group_label_input {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 10px;
}

.password_input_text{
  margin-left: 6px;
}

.group_label_button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 115px;
}


/****************** login button ********************/
input[type=submit]{
  padding:9px 60px;
  background:#0066ff;
  border:0 none;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: white;
  font-size: 12px;
}

input[type=submit]:hover {
  background-color: gray;
  }

a {
  margin-left: 115px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 12px;
}


/***************** home page ***********************/
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: white;
  margin-left: 550px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
  padding: 7px 14px;
  transition: 0.3s;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.active {
  background-color: #ccc;
}

.logout_button {
  width: 60px;
  height: 25px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: -50px;
  margin-left: 10px;
  background: lightgray;
  text-align: center;
  color: black;
  cursor: pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 12px;
}

.logout_button:hover {
  background-color: darkgray;
}

.user_icon {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  margin-left: 1100px;
}

.new_post_button:hover {
  background-color: gray;
}

.new_post_button {
  width: 100px;
  height: 45px;
  border: 1px solid white;
  border-radius: 15px;
  margin-left: 60px;
  background: #0066ff;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 14px;
}

.new_post_button:hover {
  background-color: gray;
}

.issues_box {
  background-color: #f2f2f2;
  border: 0.5px solid black;
  /*width: 1px;*/
  /*padding: 470px;*/
  margin-left: 230px;
  margin-right: 230px;
}

.post_box {
  background-color: white;
  /*width: 1px;*/
  /*padding: 470px;*/
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.image_placeholder {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
}

.heart {
  margin-top: -30px;
  margin-left: 830px;
  margin-right: 10px;
  height: 20px;
}

/***************** upload page***********************/
.newpost {
  text-align: left;
  margin-top: 30px;
  margin-left: 60px;
}
.uploadtitle {
text-align: left;
font-family: 'IBM Plex Sans Condensed', sans-serif;
color: black;
font-size: 24px;
margin-bottom: 20px;
}
.secondlinenewpost {
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
}
.items {
flex: 1;
padding: 10px;
}
.descriptionbox{
text-align: left;
font-family: 'IBM Plex Sans Condensed', sans-serif;
color: black;
margin-top: 20px;
}
.uploadbuttons{
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
justify-content: flex-end;
}
.cancelbutton{
padding:9px 60px;
background:#a2a5ac;
border:0 none;
border-radius: 15px;
cursor:pointer;
font-family: 'IBM Plex Sans Condensed', sans-serif;
color: black;
font-size: 20px;
}
.postbutton{
padding:9px 60px;
background:#0066ff;
border:0 none;
border-radius: 15px;
cursor:pointer;
font-family: 'IBM Plex Sans Condensed', sans-serif;
color: white;
font-size: 20px;
}
